@tailwind base;
@tailwind components;
@tailwind utilities;


@layer components {
  .links {
    @apply text-lg cursor-pointer transition-all hover:text-blue-400
  }

  .center {
    @apply flex justify-center items-center
  }

  .largeDisplay {
    @apply hidden md:flex
  }
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
