/* @import url("https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@400&display=swap"); */

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .links {
    @apply text-lg cursor-pointer hover:text-blue-400;
  }

  .small-link {
    @apply text-base uppercase font-medium cursor-pointer hover:text-blue-500;
  }

  .center {
    @apply flex justify-center items-center;
  }

  .medium-display {
    @apply hidden md:flex;
  }

  .large-display {
    @apply hidden lg:flex;
  }

  .small-display {
    @apply block lg:hidden;
  }

  .btn {
    @apply tracking-wide;
  }
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.roboto {
  font-family: "Roboto Slab", "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.scroll-font {
  font-family: Satisfy, "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
