.scroll {
  background-image: url("/static/images/scroll_paper.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.scrollFont {
  font-family: "Great Vibes", "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
